# Terraform local directories and files
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
# Terraform variable files with secrets
*.tfvars
*.tfvars.json


# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE/project files
.vscode/
.idea/

# Logs
*.log

# Mac system files
.DS_Store
Thumbs.db

# Node modules / frontend builds
node_modules/

# Docker
docker-compose.override.yml

# Backup folders
AWS_grocery_backup/


